[submodule "LuaEngine"]
	path = LuaEngine
	url = https://github.com/ElunaLuaEngine/Eluna.git
	branch = master
[submodule "deps/git-subrepo"]
	path = deps/git-subrepo
	url = https://github.com/ingydotnet/git-subrepo
